$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

body {
	background: #f0f0f0;
}

//vars
$bdr: 1px solid #ccc;

//nav

.nav-search {
    margin-right: 15px;
}

//main container
.main-container {
	padding-top: 70px;
}

.no-tracks {
	text-align: center;

	a.search-btn {
		width: 200px;
		height: 200px;
		display: block;
		margin: 80px auto;
		color: #c6c6c6;

		span {
			font-size: 10em;
			margin-bottom: 10px;
			color: #dfdfdf;
		}

		&:hover {
			text-decoration: none;
		}
	}
}

//search
.tracks,
.albums,
.artists {
	margin-bottom: 10px;
}

.search-box {
	margin-bottom: 10px;
}

.search, 
.playlist {
	ul {
	  margin: 0;
	  padding: 0;
	  background: #fff;
	}	
} 

.search,
.playlist {
	h2 {
	  font-size: 0.7em;
	  text-transform: uppercase;
	  padding: 5px;
	  margin: 0;
	  color: #666;
	}
} 

.search li, 
.playlist li {
  list-style: none;
  border: $bdr;
  padding: 5px;
  border-bottom: none;
  position: relative;

	.add-track {
		position: absolute;
		top: 50%;
		right: 5px;
		margin-top: -11px;

		&.btn-xs {
			border-radius: 12px;
			width: 23px;
			height: 23px;

		}
	}
}

.search li:last-child,
.playlist li:last-child {
  border-bottom: $bdr;
}

.track-container,
.playing-container {
	padding-right: 40px;

	h3, p{
		font-size: 1em;
		margin: 0;
	}
}

.now-playing {
	background: #e2e2e2;
	border: 1px solid #d5d5d5;
	padding: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 10px;
}

.playing-container {

	h2 {
		padding: 0;
		margin-bottom: 5px;
	}
}

.footer-search {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background: #333;
	color: #fff;
	padding-top: 10px;
	padding-bottom: 5px;
	z-index: 20;

	.btn {
		width: 100%;
		margin-bottom: 5px;
	}
}

.overlay {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  
}
