<div ng-include="'partials/navbar'"></div>
<div class="container main-container">  
	<div class="row playlist">
		<div class="col-md-12">

			<div ng-if="tracks" class="tracks">
				<div class="now-playing" ng-if="nowPlaying">
					<div class="playing-container">
						<h2>Now Playing</h2>
				    	<h3>{{nowPlaying.title[0]}} - {{nowPlaying.artist[0]}}</h3>
				    	<p>{{nowPlaying.album[0]}}</p>
			    	</div>
				</div>
				<h2><span class="glyphicon glyphicon-music"></span> Queued for playback</h2>
		    	<ul>
			    	<li ng-repeat="track in tracks | limitTo:10 track by $index">
				    	<div class="track-container">
					    	<h3>{{track.title[0]}} - {{track.artist[0]}}</h3>
					    	<p>{{track.album[0]}}</p>
				    	</div>
				    	<div class="clearfix"></div>
			    	</li>
			    </ul>
			</div>
			<div ng-if="noTracks" class="no-tracks">
				<h3>No tracks added yet</h3>
				<a ng-href="search" class="search-btn">
					<span class="glyphicon glyphicon-music"></span>
					<p>Search for a song</p>
				</a>
			</div>
		</div>
	</div>
</div>

<div ng-include="'partials/footer-search'"></div>
